<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397955613212-f3a7ofnvtcct6ckmamqp7912jrma9q38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397955613212-f3a7ofnvtcct6ckmamqp7912jrma9q38</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>397955613212-qa3706emiqc5115ags1jnq5i28ol15ef.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXYq5EWRT0Aw6Jm55p9U3qFP9R2A57Ob4</string>
	<key>GCM_SENDER_ID</key>
	<string>397955613212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.englishindustry</string>
	<key>PROJECT_ID</key>
	<string>english-industry</string>
	<key>STORAGE_BUCKET</key>
	<string>english-industry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397955613212:ios:28296d001855c2396815d9</string>
</dict>
</plist>